<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>getHeater</servlet-name>
        <servlet-class>com.home.servlet.getHeater</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>getHeater</servlet-name>
        <url-pattern>/getHeater</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loadImg</servlet-name>
        <servlet-class>com.home.servlet.loadImg</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loadImg</servlet-name>
        <url-pattern>/loadImg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addHeater</servlet-name>
        <servlet-class>com.home.servlet.addHeater</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addHeater</servlet-name>
        <url-pattern>/addHeater</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>com.home.servlet.addComment</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getComment</servlet-name>
        <servlet-class>com.home.servlet.getComment</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getComment</servlet-name>
        <url-pattern>/getComment</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>removeComment</servlet-name>
        <servlet-class>com.home.servlet.removeComment</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>removeComment</servlet-name>
        <url-pattern>/removeComment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editHeater</servlet-name>
        <servlet-class>com.home.servlet.editHeater</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>editHeater</servlet-name>
        <url-pattern>/editHeater</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorization</servlet-name>
        <servlet-class>com.home.servlet.Authorization</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authorization</servlet-name>
        <url-pattern>/authorization</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.home.servlet.Registration</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
</web-app>